{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('http://yui.yahooapis.com/pure/0.6.0/pure-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/uikit.min.css', 98) %}
        {% do assets.addCss('theme://css/custom.css', 97) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/uikit.min.js', 99) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        {% block header %}
            <div class="header">
                <div class="wrapper padding">
                    {% block header_navigation %}
                    <nav class="tm-navbar uk-navbar uk-navbar-attached">
                        <div class="uk-container uk-container-center">
                            <a class="uk-navbar-brand uk-hidden-small" href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a>
                            
                            {% include 'partials/navigation.html.twig' %}

                            <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                            <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><img src="images/logo_uikit.svg" width="90" height="30" title="UIkit" alt="UIkit"></div>
                        </div>
                    </nav>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block body %}
            <section id="body" class="uk-grid" data-uk-grid-margin="">
                <div class="wrapper padding">
                {% block content %}{% endblock %}
                </div>
            </section>
        {% endblock %}

        {% block footer %}
            <div class="footer text-center">
                <div class="wrapper padding">
                    <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
                </div>
            </div>
        {% endblock %}

        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}
    </div>
</body>
</html>
